### Batch Summaries

Imports

In [1]:
import yaml
import pandas as pd
import os

#### Parameters

In [2]:

# Server names
server_dicer2 = 'dicer2'
server_aws1 = 'aws1'
server_aws2 = 'aws2'
server_r2d2 = 'r2d2'

# Columns of lib .csv output
col_label_similarity = 'Similarity_label'
col_label_class = 'class'

# Columns of batch report output
col_input = 'Input Size'
col_output = 'Output Size'
col_reads = 'Reads'

# Paths & file names
path_root = './file/run-summaries/'
path_export = './file/executions-summary.csv'

suffix_summary = '.summary.yml'
suffix_classification = '-viral-eve.csv'

#### EDA

In [45]:
df_lib.columns

Index(['Contigs_ID', 'Similarity_label', 'X15', 'X16', 'X17', 'X18', 'X19',
       'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'X26', 'X27', 'X28', 'X29',
       'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X.15', 'X.16', 'X.17',
       'X.18', 'X.19', 'X.20', 'X.21', 'X.22', 'X.23', 'X.24', 'X.25', 'X.26',
       'X.27', 'X.28', 'X.29', 'X.30', 'X.31', 'X.32', 'X.33', 'X.34', 'X.35',
       'dens15to18', 'dens20to22', 'dens25to29', 'ratiosi_pi', 'ratio_si',
       'dens18to35', 'class'],
      dtype='object')

In [46]:
df_lib.shape

(54, 51)

In [43]:
df_lib.describe()

,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24,...,X.32,X.33,X.34,X.35,dens15to18,dens20to22,dens25to29,ratiosi_pi,ratio_si,dens18to35
count,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,...,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000
mean,-0.460346,-0.460346,-0.460346,-0.458855,-0.447591,-0.356837,0.444018,-0.280465,0.115610,0.330328,...,-0.346075,-0.397462,-0.359658,-0.353801,-15.751804,-3.371562,0.983931,-4.565173,-4.836887,1.774853
std,0.146096,0.146096,0.146096,0.146791,0.142545,0.179352,1.418782,0.254960,1.273279,0.641606,...,0.280134,0.126892,0.153614,0.139140,2.467557,3.946629,2.690274,3.698768,8.451295,2.304695
min,-0.761689,-0.761689,-0.761689,-0.761689,-0.714635,-0.640921,-0.477598,-0.640921,-0.628132,-0.394224,...,-0.669796,-0.642778,-0.640921,-0.583553,-16.609640,-16.609640,-7.851749,-16.609640,-16.609640,-5.851749
25%,-0.583496,-0.583496,-0.583496,-0.583267,-0.569612,-0.492509,-0.291160,-0.434234,-0.307895,-0.012635,...,-0.443544,-0.521740,-0.456708,-0.434773,-16.609640,-4.730871,-0.570596,-5.899473,-16.609640,0.305353
50%,-0.444994,-0.444994,-0.444994,-0.444953,-0.441626,-0.361836,-0.162085,-0.307897,-0.184234,0.117315,...,-0.345407,-0.357853,-0.349805,-0.347298,-16.609640,-3.217481,1.155674,-4.527594,0.419117,1.577744
75%,-0.345154,-0.345154,-0.345154,-0.345154,-0.340478,-0.297026,0.301862,-0.216748,-0.061261,0.438901,...,-0.289041,-0.306664,-0.278969,-0.307569,-16.609640,-0.900504,2.266508,-2.949161,0.979063,2.822667
max,-0.185695,-0.185695,-0.185695,-0.185695,-0.169375,0.293136,5.688904,0.630576,6.708888,3.197611,...,1.486476,-0.185695,0.188576,0.261997,-7.679480,3.542786,7.553182,1.584963,5.828665,7.749900

In [44]:
df_lib.head()

,Contigs_ID,Similarity_label,X15,X16,X17,X18,X19,X20,X21,X22,...,X.33,X.34,X.35,dens15to18,dens20to22,dens25to29,ratiosi_pi,ratio_si,dens18to35,class
0,bN_SRR1174242_Contig101_100,viral,-0.624891,-0.624891,-0.624891,-0.624891,-0.624891,-0.433537,0.415597,-0.337860,...,-0.266102,-0.397658,-0.361779,-16.60964,-1.111361,1.563739,-2.675100,0.130704,2.253269,viral
1,bN_SRR1174242_Contig166_165,viral,-0.583553,-0.583553,-0.583553,-0.583553,-0.583553,-0.368087,-0.368087,-0.583553,...,-0.583553,-0.583553,-0.583553,-16.60964,-5.930737,-1.360882,-4.569856,0.000000,-0.897314,eve
2,bN_SRR1174242_Contig199_198,viral,-0.490232,-0.490232,-0.490232,-0.490232,-0.485109,-0.420564,-0.217706,-0.293180,...,-0.438664,-0.419881,-0.426028,-16.60964,-0.458279,4.086791,-4.545070,0.959460,4.387709,eve
3,bN_SRR1174242_Contig219_218,viral,-0.555396,-0.555396,-0.555396,-0.555396,-0.555396,-0.059414,0.312572,-0.431401,...,-0.555396,0.188576,-0.307405,-16.60964,-3.675565,-0.636037,-3.039528,1.000000,-0.124391,viral
4,bN_SRR1174242_Contig22_21,viral,-0.493885,-0.493885,-0.493885,-0.493885,-0.466948,-0.364972,1.332058,-0.237984,...,-0.349580,-0.276465,-0.336111,-16.60964,0.462526,2.295433,-1.832906,1.431453,3.378366,viral

## Build Data Frame

#### Auxiliary methods

Masks

In [3]:

# File size masks
bytes_2_kb = lambda size_bytes: size_bytes / (1024)
bytes_2_mb = lambda size_bytes: size_bytes / (1024 * 1024)
bytes_2_gb = lambda size_bytes: size_bytes / (1024 * 1024 * 1024)

bytes_2_gb_str = lambda size_bytes: "{:.2f} GB".format(bytes_2_gb(size_bytes))
bytes_2_mb_str = lambda size_bytes: "{:.2f} MB".format(bytes_2_mb(size_bytes))
bytes_2_kb_str = lambda size_bytes: "{:.2f} KB".format(bytes_2_kb(size_bytes))

# Scientific notation masks
mask_thousands = lambda x: "{:.2f}".format(x / 1000)
mask_million = lambda x: "{:.2f}".format(x / 1000 / 1000)

Report rows building

In [4]:
def add_masks(df_row: pd.DataFrame) -> pd.DataFrame:

    # Input size masks
    df_row[f'{col_input} [GB]'] = df_row[col_input].apply(bytes_2_gb_str)
    df_row[f'{col_input} [MB]'] = df_row[col_input].apply(bytes_2_mb_str)
    df_row[f'{col_input} [KB]'] = df_row[col_input].apply(bytes_2_kb_str)

    # Output size masks
    df_row[f'{col_output} [GB]'] = df_row[col_output].apply(bytes_2_gb_str)
    df_row[f'{col_output} [MB]'] = df_row[col_output].apply(bytes_2_mb_str)
    df_row[f'{col_output} [KB]'] = df_row[col_output].apply(bytes_2_kb_str)

    # Big numbers scientific notation
    df_row[f'{col_reads} [×10^3]'] = df_row[col_reads].apply(mask_thousands)
    df_row[f'{col_reads} [×10^6]'] = df_row[col_reads].apply(mask_million)

    return df_row

def get_similarity_class_count(df_lib: pd.DataFrame, label: str) -> int:
    try:
        similarity_class_group = df_lib.groupby(col_label_similarity)[col_label_similarity].value_counts()
        return int(similarity_class_group[label].values)
    except KeyError:
        return 0
    except Exception as err:
        raise err

def get_row(df_lib: pd.DataFrame, summary_lib: dict) -> pd.DataFrame:

    class_match = lambda label, class_: \
        df_lib[ (df_lib[col_label_similarity] == label) & (df_lib[col_label_class] == class_)]

    return pd.DataFrame(
        {
            'ID': summary_lib.get('exec_id'),
            col_reads: summary_lib.get('n_read_total'),
            'Contigs': summary_lib.get('n_contig_total'),
            'Contigs >= 200nt': summary_lib.get('n_contig_gt200'),
            col_input: summary_lib.get('input_size'),
            col_output: summary_lib.get('output_size'),
            'Execution Time': summary_lib.get('exec_time'),
            
            'Server': summary_lib.get('server_name'),
            'Batch': summary_lib.get('batch_name'),
            
            'Viral': get_similarity_class_count(df_lib=df_lib, label='viral'),
            'Non Viral': get_similarity_class_count(df_lib=df_lib, label='nonviral'),
            'nohit': get_similarity_class_count(df_lib=df_lib, label='nohit'),
            
            'Viral / Viral': class_match('viral', 'viral').shape[0],
            'Viral / EVE': class_match('viral', 'eve').shape[0],
            'Non Viral / Viral': class_match('nonviral', 'viral').shape[0],
            'Non Viral / EVE': class_match('nonviral', 'eve').shape[0],
            'No Hit / Viral': class_match('nohit', 'viral').shape[0],
            'No Hit / EVE': class_match('nohit', 'eve').shape[0],
            
        },
        index=[0]
    )

#### Gather executions

In [5]:
df_report = pd.DataFrame(
    columns = [
        'ID',
        'Reads',
        'Contigs', 'Contigs >= 200nt',
        'Input Size', 'Output Size',
        'Execution Time',
        'Server', 'Batch',
        'Viral', 'Non Viral', 'nohit',
        'Viral / Viral', 'Viral / EVE',
        'Non Viral / Viral', 'Non Viral / EVE',
        'No Hit / Viral', 'No Hit / EVE',
    ]
)

In [6]:


# Filter out subdirectories from the list of items
run_dirs = []
for dir_item in os.listdir(path_root):
    path_run = os.path.join(path_root, dir_item)
    if os.path.isdir(path_run):
        run_dirs.append(path_run)

# Loop trough each execution
for path_run in run_dirs:

    # Get execution result files
    path_csv_classified = ''
    path_summary = ''

    for dir_item in os.listdir(path_run):
        path_file = os.path.join(path_run, dir_item)

        if path_file.endswith(suffix_summary):
            path_summary = path_file
        elif path_file.endswith(suffix_classification):
            path_csv_classified = path_file
    
    if not path_summary or not path_csv_classified:
        continue

    # Build current lib report row
    with open(path_summary, 'r') as file:
        summary_lib = yaml.safe_load(file)

    if not summary_lib.get('server_name'):
        summary_lib['server_name'] = server_r2d2

    df_lib = pd.read_csv(path_csv_classified).drop('Unnamed: 0', axis=1)
    df_row = get_row(df_lib=df_lib, summary_lib=summary_lib)

    # Add this lib parsing to report
    df_report = pd.concat([df_report, df_row], ignore_index=True)

In [10]:
# df_report.head()
df_report['Batch'].unique()

array(['batch-03', 'batch-05', 'batch-02', 'batch-01', 'batch-06',
       'batch-04'], dtype=object)

#### Parse empty rows

In [50]:
df_report.describe()

,ID,Reads,Contigs,Contigs >= 200nt,Input Size,Output Size,Execution Time,Server,Batch,Viral,Non Viral,nohit,Viral / Viral,Viral / EVE,Non Viral / Viral,Non Viral / EVE,No Hit / Viral,No Hit / EVE
count,67,66,66,66,67,67,67,67,67,67,67,67,67,67,67,67,67,67
unique,67,65,66,46,66,67,67,2,6,43,37,34,37,33,18,38,11,36
top,val-SRR2182528,13283484,2002,56,1377796,18664732,04:15:02:303,r2d2,batch-03,34,8,7,32,10,0,5,1,0
freq,1,2,1,4,2,1,1,63,20,4,7,6,5,7,15,7,26,9

In [51]:
df_report.shape

(67, 18)

In [52]:
df_report.isna().sum()

ID                   0
Reads                1
Contigs              1
Contigs >= 200nt     1
Input Size           0
Output Size          0
Execution Time       0
Server               0
Batch                0
Viral                0
Non Viral            0
nohit                0
Viral / Viral        0
Viral / EVE          0
Non Viral / Viral    0
Non Viral / EVE      0
No Hit / Viral       0
No Hit / EVE         0
dtype: int64

In [53]:
df_report[ df_report['Reads'].isna() | df_report['Contigs'].isna() | df_report['Contigs >= 200nt'].isna() | df_report['Batch'].isna()]

,ID,Reads,Contigs,Contigs >= 200nt,Input Size,Output Size,Execution Time,Server,Batch,Viral,Non Viral,nohit,Viral / Viral,Viral / EVE,Non Viral / Viral,Non Viral / EVE,No Hit / Viral,No Hit / EVE
25,val-SRR10662835,None,None,None,2025684,7581732,00:00:06:445,r2d2,batch-01,58,2,0,32,26,0,2,0,0

In [54]:
df_report = df_report.dropna()
df_report.head()

,ID,Reads,Contigs,Contigs >= 200nt,Input Size,Output Size,Execution Time,Server,Batch,Viral,Non Viral,nohit,Viral / Viral,Viral / EVE,Non Viral / Viral,Non Viral / EVE,No Hit / Viral,No Hit / EVE
0,val-SRR2182528,25001332,2002,59,1549248,18664732,04:15:02:303,r2d2,batch-03,15,12,32,9,6,1,11,8,24
1,val-ERR186228,12939514,1045,93,1287780,4272644,11:52:03:529,aw1,batch-05,79,6,8,58,21,0,6,1,7
2,val-SRR2182437,20134597,6649,266,1270836,9491832,05:41:27:203,r2d2,batch-03,87,57,122,53,34,1,56,5,117
3,val-SRR1765318,21471656,1153,65,2075016,11405720,02:15:03:167,r2d2,batch-02,18,27,20,8,10,12,15,0,20
4,val-SRR3452125,47607487,2820,73,4446424,14855464,03:41:04:377,r2d2,batch-03,13,33,27,2,11,6,27,0,27

In [55]:
df_report.shape

(66, 18)

#### Export

In [56]:
df_report.to_csv(path_export, index=False)